.container{
    width: 1200px;
    margin:auto;
}

.header{
    width: 1200px;
    height: 280px;
}

.navbar{
    width: inherit;
    float: none;
}


ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;

}

li{
    float: left;
    border-right: 1px solid white;
}

li a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
}

li a:hover{
    background-color: blue;
}

.active{
    background-color: green;
}

.advertise{
    float: right;
    background-color: red;
}


.content{

}

.block1{
    width:550px;
    float:left;
    margin: 25px;
}

.block2 {
    width: 550px;
    float: right;
    margin: 25px;
}

.contentbig {
    float: left;
    width: 1200px;
    margin: 25px;
}

.footer{
    margin: 25px;
}







